<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Certificate Generator</title>
    <style>



		body{
			/* background-image: url("bg1.jpeg"); */
			background-color: grey;
			background-size: 100%;

		}
    </style>

</head>

<body id="bg">


						<table id="format">
							<tr id="row1" >
								<td colspan="2">
									<p class="p">*Fill all details to submit form.</p>
								</td>
							</tr>

								<tr id="roi">
									<th>Your Name: </th>
									<td>

									<form method="GET" action="">
										<input type="text" id="cam" name='name' required="required"/><br/>
									<input type="submit">
									</form>

									</td>

								</tr>
	<!-- 							<tr id="usecase">
									<th>Location: </th>
									<td><input type="text" id="loc" /><br/></td>
								</tr> -->
								<tr id="row4">
									<td colspan="2">
										<img src={{image}} alt="Flowers in Chania">





			</tr>
		</table>
		Developed and Deployed by Vinay Verma
		email: vermavinay982@gmail.com
</body>
</html>